<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OnLib</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("OnLib", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Startseite", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Alle Medien<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">@Html.ActionLink("Alle Titel", "Index", "Home")</a></li>
                            <li><a href="#">@Html.ActionLink("Alle Alben", "Index", "Home")</a></li>
                            <li><a href="#">@Html.ActionLink("Alle Filme", "Index", "Home")</a></li>
                            <li><a href="#">@Html.ActionLink("Alle Bücher", "Index", "Home")</a></li>
                            <li><a href="#">@Html.ActionLink("Alle Serien", "Index", "Home")</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Info", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - OnLib, Wanping Qu & Torsten Werner</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
