@model OnLib.Models.Kopie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kopie</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserProfile.UserName)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Typ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Typ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ausgabe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ausgabe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qualitaet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qualitaet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
