@model OnLib.Models.TitelViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Titel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.AutorId, "Autor", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Autor.Nachname)
                @Html.ValidationMessageFor(model => model.Autor.Nachname)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Autor.Vorname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypId, "Typ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TypId", String.Empty)
                @Html.ValidationMessageFor(model => model.TypId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kurzbeschreibung, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kurzbeschreibung)
                @Html.ValidationMessageFor(model => model.Kurzbeschreibung)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Beschreibung, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Beschreibung)
                @Html.ValidationMessageFor(model => model.Beschreibung)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GenreId,"Genre", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GenreId", String.Empty)
                @Html.ValidationMessageFor(model => model.GenreId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Erscheinung, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Erscheinung)
                @Html.ValidationMessageFor(model => model.Erscheinung)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
