@model OnLib.Models.TitelViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>
        @{
            if (!String.IsNullOrEmpty(Model.Autor.Vorname))
            {
                @Html.DisplayFor(model=>model.Autor.Vorname)
            }
        }
        @Html.DisplayFor(model => model.Autor.Nachname)
         - 
        @Html.DisplayFor(model => model.Name)
    </h4>
	<hr />
    <dl class="dl-horizontal col-md-7">
        <dt>
            @Html.DisplayNameFor(model => model.Autor)
        </dt>

        <dd>
            @{
                if (!String.IsNullOrEmpty(Model.Autor.Vorname))
                {
                    @Html.DisplayFor(model => model.Autor.Vorname)
                }
            }
            @Html.DisplayFor(model => model.Autor.Nachname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Typ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Typ.Name) &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kurzbeschreibung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kurzbeschreibung) &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beschreibung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beschreibung) &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Name) &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Erscheinung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Erscheinung) &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kopies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kopies.Count) &nbsp;
        </dd>
    </dl>
    <div class="col-md-5">
        <img src="@Model.CoverPfad" width="180" height="180" />
    </div>
</div>

<div>@* Liste der Kopien *@
    <div>
        @Html.ActionLink("Kopie hinzufügen", "AddKopie/"+Model.TitelId)
    </div>
    <table class="table">
        <tr>
            <th>Besitzer</th>
            <th>Typ</th>
            <th>Ausgabe</th>
            <th>Qualität</th>
            <th>Verfügbar</th>
            <th>&nbsp;</th>
        </tr>
        @foreach (OnLib.Models.Kopie item in Model.Kopies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserProfile.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Typ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ausgabe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qualitaet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available)
                </td>
                <td>
                    @{
                        if (item.Available == true)
                        {
                            @Html.ActionLink("Ausleihen", "Leihen/" + item.Id, "Kopie")
                        }
                    }
                    
                </td>
            </tr>       
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TitelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
