@model OnLib.Models.TitelViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>
        @{
            if (!String.IsNullOrEmpty(Model.Autor.Vorname))
            {
                @Html.DisplayFor(model=>model.Autor.Vorname)
            }
        }
        @Html.DisplayFor(model => model.Autor.Nachname)
         - 
        @Html.DisplayFor(model => model.Name)
    </h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Autor)
        </dt>

        <dd>
            @{
                if (!String.IsNullOrEmpty(Model.Autor.Vorname))
                {
                    @Html.DisplayFor(model => model.Autor.Vorname)
                }
            }
            @Html.DisplayFor(model => model.Autor.Nachname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Typ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Typ.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kurzbeschreibung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kurzbeschreibung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beschreibung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beschreibung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Erscheinung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Erscheinung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kopies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kopies.Count)
        </dd>
    </dl>
</div>
<div>@* Liste der Kopien *@
    <table class="table">
        <tr>
            <th>Besitzer</th>
            <th>Typ</th>
            <th>Ausgabe</th>
            <th>Qualität</th>
        </tr>
        @foreach (OnLib.Models.Kopie item in Model.Kopies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserProfile.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Typ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ausgabe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qualitaet)
                </td>
            </tr>       
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TitelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
