@model IEnumerable<OnLib.Models.TitelViewModel>

@{
    ViewBag.Title = "Suchergebnisse";
}

<h2>Suchergebnisse</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@*<p>
    @Html.ActionLink("Alle", "All", "Titel") | @Html.ActionLink("Album", "Album", "Titel/All") | @Html.ActionLink("Buch", "Buch", "Titel/All") | @Html.ActionLink("Film", "Film", "Titel/All")
    | @Html.ActionLink("Serie", "Serie", "Titel/All")
</p>*@

<table class="table">
    <tr>
        <th>
            &nbsp;
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Typ)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Beschreibung)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Erscheinung)
        </th>
        <th>
            Anzahl Kopien
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{
                if (String.IsNullOrEmpty(item.CoverPfad))
                {
                    <img src="~/images/titel/default.jpg" height="20" />
                }
                else
                {
                    <img src="@item.CoverPfad" height="20" />
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor.Nachname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Typ.Name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Beschreibung)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>
        <td>
            @{
                int jahr = @item.Erscheinung.Year;
                string erscheinung = jahr.ToString();
            }
            @erscheinung
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kopies.Count)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TitelId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TitelId }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.TitelId })*@
        </td>
    </tr>
}

</table>
